@use "../global" as *;

// ==================================================
// コンポーネント：カード
// ==================================================
// --------------------------------------------------
// デフォルトカード
// --------------------------------------------------
.card-white {
	padding: 15px;
	line-height: 1.5;
	background-color: $color-white;

	@media (min-width: $screen-md-min) {
		padding: 30px;
	}
}
