@use "../global" as *;

// ==================================================
// コンポーネント：リスト
// ==================================================
// --------------------------------------------------
// 基本リスト
// --------------------------------------------------
%list-basic {
	padding-left: 1em;

	li {
		padding-top: 5px;
		line-height: 1.5em;

		@media (min-width: $screen-sm-min) {
			padding-top: 15px;
		}
	}
}

// 番号リスト
.list-number {
	@extend %list-basic;

	counter-reset: number;

	li {
		&::before {
			content: counter(number) ".";
			counter-increment: number;
		}
	}
}
