.env
.idea/
/wpdir/wp-content/updraft
/vendor
wpdir/wp-content/plugins/*
!wpdir/wp-content/plugins/advanced-custom-fields-pro
!wpdir/wp-content/plugins/acf-extended
!wpdir/wp-content/plugins/gianism
!wpdir/wp-content/plugins/wp-github
/common/uploads
_js/node_modules
wpdir/wp-content/cache
node_modules
.DS_Store
/tests/wordpress*
/tests/wp-latest.json
/tests/common/uploads
.phpunit.result.cache
