@use "../global" as *;

// ==================================================
// HTMLタグの初期スタイル
// ==================================================

// --------------------------------------------------
// 基本エレメントの再定義
// --------------------------------------------------
* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: $ff-ja;
	font-size: 16px;
	line-height: 1.4;
	color: $color-black;
	text-size-adjust: 100%;
}

input,
textarea {
	font-size: 16px;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

.a {
	color: $link-color-main;
	outline: none;

	&:hover {
		color: saturate($link-color-main, 80%);

		.opacity-ov {
			opacity: 0.5;
		}
	}

	&:active,
	&:focus {
		color: $link-color-main;
		text-decoration: none;
		outline: none;
	}
}

.p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 14px;
	line-height: 1.75em;

	@media (min-width: $screen-md-min) {
		font-size: 16px;
	}
}

.b,
.strong,
.em {
	font-weight: bold;
}
